.form {
    color: #fff;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 300px;
    width: calc(100% - 300px);
    text-align: center;
    padding: 10px 30px 30px;
}

.form p {
    flex-basis: 75px;
    font-size: 25px;
}

.form input {
    flex: 1;
    margin: 0px 5px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    font-size: 15px;
}

.title {
    margin-bottom: 20px;
}

.ph {
    display: none;
}

.submitBtn {
    background-color: transparent;
    color: #fff;
    outline: none;
    font-weight: 400;
    border: 1px solid;
    font-size: 15px;
}

@media (max-width: 768px) {
    .form {
        display: none;
    }
}