.imageSidebar {
    width: 300px;
    min-height: 100vh;
    display: inline-block;
    float: left;
    padding: 0px 30px;
}

.imageSidebar h2 {
    font-size: var(--h2);
}

.imageContainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    max-width: 75px;
    max-height: 200px;
}

.titleBlock p {
    font-size: 16px;
    margin-top: 10px;
    font-weight: 200;
    line-height: 22px;
}